{% extends 'base/base.html' %}

{% block title %}Clientes{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Gestión de Clientes</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Listado de Clientes</h6>
        </div>
        <div class="card-body">
            <p>Aquí se mostrará el listado de clientes.</p>
            <a href="#" class="btn btn-primary">Agregar Nuevo Cliente</a>
        </div>
    </div>
</div>
{% endblock %}